.alert-card {
    display: flex;
    flex-direction: row;
    align-items: center;
    border: 1px solid #670000;
    border-radius: 10px;
    overflow: hidden;
  }
  
  .alert-card-img {
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-right: 1px solid #670000;
  }
  
  .alert-card .card-body {
    flex: 1;
    padding: 10px;
  }
  
  .alert-card .card-title {
    font-size: 1.25rem;
    color: #670000;
  }
  
  .alert-card .card-text {
    color: #670000;
  }
  